1、三星应用市场处理斗K APP上线异常问题	100%
2、项目库上传Git并建立远程仓库依赖		100%
3、广告系统模块开发
	接口设计：
	      1、init(Application application, String plat, String versionApi, String env, String channel)，项目启动时调用，用来给广告系统模块传递相关参数，并将各个生命周期同步给广告模块
	      2、initAd(String pageKey, String posKey)，预加载广告数据
	      3、loadAd(String pageKey, String posKey, OnSlideClickListener listener)，展示广告view并提供回调监听，将页面的点击事件传递给使用方
	使用
	      1、工程的build.gradle中添加
		allprojects {
    			repositories {
			.....
			maven { url 'https://jitpack.io' }
			}
		}
	      2、项目的build.gradle中添加
		implementation 'com.github.Madwheel:CommonLibs:1.1.7'
	      3、项目Application的oncreate中调用
		AdApplication.getInstance().init(this, "douk", "ak.1.12.2240", "dev", "iwangzhe");
	      4、AndroidManifest.xml中添加splashAdActivity页面注册
		<activity android:name="com.iwangzhe.commonview.adv.view.SplashAdActivity"/>
	     5、展示位置依次调用initAd与loadAd即可